# ── Игровые ассеты (большие файлы — не хранить в git) ──
models/
sounds/
maps/
*.fbx
*.glb
*.obj
*.mp3
*.wav
*.ogg
*.png
*.jpg
*.jpeg
*.tga
*.dds

# ── Visual Studio build ──
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
.vs/

# ── Компилятор ──
*.exe
*.ilk
*.pdb
*.ipdb
*.iobj
*.pch
*.lib
*.exp
*.sbr
*.tmp

# ── VS файлы пользователя ──
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.opendb
*.cachefile
ipch/